@charset "UTF-8";
/* CSS Document */

/*----------------------------------------- GENERAL ---------------------------------------------*/
body
{
	background-color:#000;
	margin:0;
	padding:0;
	overflow:hidden;
	width:1024px;
	height:552px;
}

* {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-user-select: none;                 /* prevent copy paste, to allow, change 'none' to 'text' */

}

#fondo-madera
{
	top:0px;
	left:0px;
	width:1024px;
	height:552px;
	background:url(../imgs/fondo-madera.png) no-repeat;
	overflow:hidden; !important
}

#fondo-pasto
{
	top:0px;
	left:0px;
	width:1024px;
	height:552px;
	background:url(../imgs/fondo-pasto.png) no-repeat;
	overflow:hidden; !important
}

#fondo-cancha
{
	top:0px;
	left:0px;
	width:1024px;
	height:552px;
	background:url(../imgs/fondo-cancha.png) no-repeat;
	overflow:hidden; !important
}



#header{
	position:absolute;
	top:0px;
	left:0px;
	width:1024px;
	height:130px;
	background:url(../imgs/header.png) no-repeat;
	z-index:5;
	display:none;
}

#dolca{
	position:absolute;
	top:630px;
	left:880px;
	width:150px;
	height:120px;
	background:url(../imgs/logo-dolca.png) no-repeat;
	z-index:15;
}

#promo-centro{
	position:absolute;
	top:-165px;
	left:420px;
	width:165px;
	height:165px;
	background:url(../imgs/promo-profesionales-redolca.png) no-repeat;
	z-index:10;
}


#promo-izquierda{
	position:absolute;
	top:-165px;
	left:50px;
	width:165px;
	height:165px;
	background:url(../imgs/promo-profesionales-redolca.png) no-repeat;
	z-index:20;
}

/*----------------------------------------- INDEX ---------------------------------------------*/


#cachorro-index{
	position:absolute;
	top:600px;
	left:30px;
	width:470px;
	height:420px;
	background:url(../imgs/elegir-cachorro.png) no-repeat;
	z-index:20;
}

#penal-index{
	position:absolute;
	top:600px;
	left:530px;
	width:470px;
	height:420px;
	background:url(../imgs/elegir-penal.png) no-repeat;
	z-index:25;
}






/*----------------------------------------- CACHORRO ---------------------------------------------*/

#cachorro1{
	position:absolute;
	top:600px;
	left:80px;
	width:280px;
	height:382px;
	background:url(../imgs/cachorro1.png) no-repeat;
	z-index:20;
}

#cachorro2{
	position:absolute;
	top:600px;
	left:360px;
	width:280px;
	height:382px;
	background:url(../imgs/cachorro2.png) no-repeat;
	z-index:20;
}

#cachorro3{
	position:absolute;
	top:600px;
	left:640px;
	width:280px;
	height:382px;
	background:url(../imgs/cachorro3.png) no-repeat;
	z-index:20;
}

#hueso1{
	position:absolute;
	top:-200px;
	left:350px;
	width:190px;
	height:115px;
	background:url(../imgs/hueso1.png) no-repeat;
	z-index:1;
}

#hueso2{
	position:absolute;
	top:-200px;
	left:660px;
	width:130px;
	height:90px;
	background:url(../imgs/hueso2.png) no-repeat;
	z-index:1;
}

/*----------------------------------------- CACHORRO PREMIO ---------------------------------------------*/

#header-premio{
	position:absolute;
	top:0px;
	left:0px;
	width:1024px;
	height:130px;
	background:url(../imgs/header-premio.png) no-repeat;
	z-index:5;
	display:none;
}

#cachorro1-premio{
	position:absolute;
	top:0px;
	left:100px;
	width:200px;
	height:522px;
	z-index:3;
}

#cachorro2-premio{
	position:absolute;
	top:0px;
	left:395px;
	width:200px;
	height:522px;
	z-index:3;
}

#cachorro3-premio{
	position:absolute;
	top:0px;
	left:680px;
	width:200px;
	height:522px;
	z-index:3;
}

#manos{
	position:absolute;
	top:600px;
	left:162px;
	width:700px;
	height:479px;
	z-index:50;
}

#cachorros-cachorro1{
	position:absolute;
	top:600px;
	left:0px;
	width:1024px;
	height:300px;
	background:url(../imgs/cachorros-cachorro1.png) no-repeat;
	z-index:3;
}

#cachorros-cachorro2{
	position:absolute;
	top:600px;
	left:0px;
	width:1024px;
	height:300px;
	background:url(../imgs/cachorros-cachorro2.png) no-repeat;
	z-index:3;
}

#cachorros-cachorro3{
	position:absolute;
	top:600px;
	left:0px;
	width:1024px;
	height:300px;
	background:url(../imgs/cachorros-cachorro3.png) no-repeat;
	z-index:3;
}

#ganaste{
	position:absolute;
	top:600px;
	left:122px;
	width:750px;
	height:260px;
	background:url(../imgs/ganaste.png) no-repeat;
	z-index:50;
}

#estrellas{
	position:absolute;
	top:-200px;
	left:0px;
	width:1024px;
	height:1015px;
	background:url(../imgs/estrellas.png) no-repeat;
	z-index:2;
	opacity:0;
}

#perdiste{
	position:absolute;
	top:600px;
	left:370px;
	width:260px;
	height:260px;
	background:url(../imgs/perdiste.png) no-repeat;
	z-index:5;
}


/*----------------------------------------- PENAL ---------------------------------------------*/

#arquero{
	position:absolute;
	top:-300px;
	left:437px;
	width:150px;
	height:250px;
	z-index:10;
}

#pelota{
	position:absolute;
	top:600px;
	left:477px;
	width:80px;
	height:80px;
	z-index:10;
}

#pelota-sombra{
	position:absolute;
	top:665px;
	left:477px;
	width:80px;
	height:20px;
	background:url(../imgs/pelota-sombra.png) no-repeat;
	z-index:9;
}

#flecha_i{
	position:absolute;
	top:600px;
	left:220px;
	width:180px;
	height:110px;
	background:url(../imgs/flecha_i.png) no-repeat;
	z-index:10;
}

#flecha_d{
	position:absolute;
	top:600px;
	left:700px;
	width:130px;
	height:110px;
	background:url(../imgs/flecha_d.png) no-repeat;
	z-index:10;
}

#estrellas-gol{
	position:absolute;
	top:200px;
	left:700px;
	width:300px;
	height:300px;
	z-index:8;
	opacity:0;
}

#gol{
	position:absolute;
	top:640px;
	left:152px;
	width:750px;
	height:260px;
	background:url(../imgs/gol.png) no-repeat;
	z-index:50;
}

#atajo{
	position:absolute;
	top:600px;
	left:370px;
	width:260px;
	height:260px;
	background:url(../imgs/atajo.png) no-repeat;
	z-index:50;
}

#hinchada{
	position:absolute;
	top:600px;
	left:0px;
	width:1024px;
	height:350px;
	background:url(../imgs/hinchada.png) no-repeat;
	z-index:2;
}

/*----------------------------------------- INDEX ---------------------------------------------*/



/*----------------------------------------- INDEX ---------------------------------------------*/



/*----------------------------------------- INDEX ---------------------------------------------*/



/*----------------------------------------- INDEX ---------------------------------------------*/



/*----------------------------------------- INDEX ---------------------------------------------*/



/*----------------------------------------- INDEX ---------------------------------------------*/



/*----------------------------------------- INDEX ---------------------------------------------*/



/*----------------------------------------- GRACIAS ---------------------------------------------*/
#gracias{
	position:absolute;
	top:550px;
	left:240px;
	width:560px;
	height:170px;
	background:url(../imgs/gracias-por-participar.png) no-repeat;
	z-index:40;
}