@charset "UTF-8";
/* CSS Document */
body
{
	background-color:#000;
	margin:0;
	padding:0;
}

* {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-user-select: none;                 /* prevent copy paste, to allow, change 'none' to 'text' */

}

#fondo
{
	top:0px;
	left:0px;
	width:1024px;
	height:552px;
	background:url(../imgs/fondo-madera.png) no-repeat;
	overflow:hidden;
}

#bienvenidos{
	position:absolute;
	top:0px;
	left:0px;
	width:1024px;
	height:130px;
	background:url(../imgs/bienvenidos.png) no-repeat;
	z-index:5;
	display:none;
	overflow:hidden;
}

#header{
	position:absolute;
	top:0px;
	left:0px;
	width:1024px;
	height:130px;
	background:url(../imgs/header.png) no-repeat;
	z-index:5;
	display:none;
}

#promo{
	position:absolute;
	top:-165px;
	left:420px;
	width:165px;
	height:165px;
	background:url(../imgs/promo-profesionales-redolca.png) no-repeat;
	z-index:10;
}

#dolca{
	position:absolute;
	top:630px;
	left:880px;
	width:150px;
	height:120px;
	background:url(../imgs/logo-dolca.png) no-repeat;
	z-index:15;
}

#cachorro{
	position:absolute;
	top:522px;
	left:30px;
	width:470px;
	height:420px;
	background:url(../imgs/elegir-cachorro.png) no-repeat;
	z-index:20;
}

#penal{
	position:absolute;
	top:522px;
	left:530px;
	width:470px;
	height:420px;
	background:url(../imgs/elegir-penal.png) no-repeat;
	z-index:25;
}


#gracias{
	position:absolute;
	top:550px;
	left:240px;
	width:560px;
	height:170px;
	background:url(../imgs/gracias-por-participar.png) no-repeat;
	z-index:40;
}
